<footer>
  <div class="max-w-5xl mx-auto mb-6 mt-32 pt-6 border-t">
    <div class="flex justify-center text-sm dark:to-white">
      Made with ❤️ by
      <a class="ml-2 hover:underline hover:text-blue-500" href="https://meaganwaller.com/">meagan waller</a>
    </div>
  </div>
</footer>

