<section id="home">
  <div class="flex flex-col justify-center mt-6 text-center gap-6">
    <div>
      <img src="assets/images/logo.svg" alt="" class="max-md:w-24 mx-auto" />
    </div>
    <p class="max-w-2xl mx-auto text-gray-500 sm:text-lg text-sm leading-relaxed dark:text-white">
    Professional and elegant template for creating a social photo sharing network , designed with a clean,
    customizable and modern
    </p>
  </div>

  <div class="md:flex justify-center items-center gap-4 mt-8 font-semibold text-sm hidden">
    <a
        href="#demos"
        uk-scroll
        class="flex items-center gap-2 bg-slate-100 rounded-lg px-5 py-3 text-black dark:bg-slate-900 dark:text-white"
        >
        <ion-icon name="eye-outline" class="hidden"></ion-icon>
        Check Demo
    </a>
    <a
        class="flex items-center gap-3 rounded-lg px-5 py-2.5 bg-black text-white shadow dark:bg-white/90 dark:text-black"
        target="_blank"
        href="https://themeforest.net/item/instello-ultimate-photo-sharing-html-template/29882650"
        >
        Buy now
    </a>
  </div>

  <!-- hero -->
  <div class="flex items-center justify-center relative md:mt-32 mt-20">
    <div class="lg:rounded-xl rounded-md shadow-xl z-10 scale-125 overflow-hidden relative w-1/2">
      <div class="bg-gray-950 w-full py-1.5 px-3">
        <svg class="w-6" viewBox="0 0 420 100" focusable="false">
          <circle fill="#ff5f57" cx="50" cy="50" r="50"></circle>
          <circle fill="#febc2e" cx="210" cy="50" r="50"></circle>
          <circle fill="#28c840" cx="370" cy="50" r="50"></circle>
        </svg>
      </div>
      <%= image_tag "demos/demo-1.jpg", alt: "" %>
    </div>

    <div class="w-1/2 absolute left-0 delay-500 uk-animation-slide-right-medium">
      <div class="lg:rounded-xl rounded-md shadow-md overflow-hidden -skew-x-6">
        <div class="bg-gray-950 w-full py-1.5 px-3">
          <svg class="w-6" viewBox="0 0 420 100" focusable="false">
            <circle fill="#ff5f57" cx="50" cy="50" r="50"></circle>
            <circle fill="#febc2e" cx="210" cy="50" r="50"></circle>
            <circle fill="#28c840" cx="370" cy="50" r="50"></circle>
          </svg>
        </div>
        <img src="assets/images/demos/explore.png" alt="" />
      </div>
    </div>
    <div class="w-1/2 absolute right-0 duration-50 uk-animation-slide-left-medium">
      <div class="lg:rounded-xl rounded-md shadow-md overflow-hidden skew-x-6">
        <div class="bg-gray-950 w-full py-1.5 px-3">
          <svg class="w-6" viewBox="0 0 420 100" focusable="false">
            <circle fill="#ff5f57" cx="50" cy="50" r="50"></circle>
            <circle fill="#febc2e" cx="210" cy="50" r="50"></circle>
            <circle fill="#28c840" cx="370" cy="50" r="50"></circle>
          </svg>
        </div>
        <img src="assets/images/demos/shop.png" alt="" />
      </div>
    </div>
  </div>
</section>

